{% extends 'base.html' %}

{% block title %}Atualizar Comentário{% endblock %}

{% block content %}
<div class="container mt-5 py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="mb-4 text-center">Atualizar Comentário</h1>

      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
          <label for="id_texto" class="form-label">Texto do Comentário:</label>
          {{ form.texto }}
        </div>

        <div class="mb-3">
          <label for="id_estrelas" class="form-label">Avaliação (0 a 5 estrelas):</label>
          {{ form.estrelas }}
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
