{% extends 'base.html' %}

{% block title %}Novo Comentário{% endblock %}

{% block content %}
<div class="container mt-5 py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body p-5">
          <h2 class="text-center mb-4">Novo Comentário</h2>

          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>

          <div class="text-center mt-3">
            {% if lugar_id %}
              <a href="{% url 'comentario_create' lugar_id=lugar_id %}" class="btn btn-primary">Adicionar Comentário</a>
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
