{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Bike2Bike{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title justify-center">Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_div|safe }}
        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
      <div class="text-center mt-4">
        <span>Ainda não tem conta? </span>
        <a href="{% url 'signup' %}" class="link link-info">Cadastre-se</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
